<!-- =========================================================
     JAVASCRIPT
========================================================= -->

<script>

/* =========================================================
   GALLERY & LIGHTBOX
========================================================= */

const galleryImageUrls = [

    {% if gallery_images %}

        {% for img in gallery_images %}

            {{ img.image_name|tojson }}
            {% if not loop.last %},{% endif %}

        {% endfor %}

    {% elif property.main_image %}

        {{ property.main_image|tojson }}

    {% endif %}

];

let currentLightboxIndex = 0;


/* =========================================================
   MOBILE ZOOM VARIABLES
========================================================= */

let lightboxScale = 1;

let lightboxTranslateX = 0;
let lightboxTranslateY = 0;

let pinchStartDistance = 0;
let pinchStartScale = 1;

let isDraggingZoomedImage = false;

let dragStartX = 0;
let dragStartY = 0;

let dragStartTranslateX = 0;
let dragStartTranslateY = 0;

let lastTapTime = 0;


/* =========================================================
   GALLERY INDEX
========================================================= */

function normalizeGalleryIndex(index) {

    const total =
        galleryImageUrls.length;

    if (!total) return 0;

    return (
        (index % total) + total
    ) % total;

}


/* =========================================================
   OPEN LIGHTBOX
========================================================= */

function openLightbox(index) {

    if (!galleryImageUrls.length)
        return;

    currentLightboxIndex =
        normalizeGalleryIndex(index);

    resetLightboxZoom();

    const modal =
        document.getElementById(
            "imageLightbox"
        );

    modal.style.display = "flex";

    modal.setAttribute(
        "aria-hidden",
        "false"
    );

    document.body.classList.add(
        "lightbox-open"
    );

    updateLightboxImage();

}


/* =========================================================
   UPDATE LIGHTBOX IMAGE
========================================================= */

function updateLightboxImage() {

    if (!galleryImageUrls.length)
        return;

    const image =
        document.getElementById(
            "lightboxImg"
        );

    const counter =
        document.getElementById(
            "lightboxCounter"
        );

    image.src =
        galleryImageUrls[
            currentLightboxIndex
        ];

    counter.textContent =
        (currentLightboxIndex + 1) +
        " / " +
        galleryImageUrls.length;

    resetLightboxZoom();

}


/* =========================================================
   NEXT IMAGE
========================================================= */

function nextImage(event) {

    if (event)
        event.stopPropagation();

    if (!galleryImageUrls.length)
        return;

    currentLightboxIndex =
        normalizeGalleryIndex(
            currentLightboxIndex + 1
        );

    updateLightboxImage();

}


/* =========================================================
   PREVIOUS IMAGE
========================================================= */

function previousImage(event) {

    if (event)
        event.stopPropagation();

    if (!galleryImageUrls.length)
        return;

    currentLightboxIndex =
        normalizeGalleryIndex(
            currentLightboxIndex - 1
        );

    updateLightboxImage();

}


/* =========================================================
   CLOSE LIGHTBOX
========================================================= */

function closeLightbox() {

    const modal =
        document.getElementById(
            "imageLightbox"
        );

    if (!modal)
        return;

    modal.style.display = "none";

    modal.setAttribute(
        "aria-hidden",
        "true"
    );

    document.body.classList.remove(
        "lightbox-open"
    );

    resetLightboxZoom();

}


/* =========================================================
   RESET MOBILE ZOOM
========================================================= */

function resetLightboxZoom() {

    lightboxScale = 1;

    lightboxTranslateX = 0;
    lightboxTranslateY = 0;

    isDraggingZoomedImage = false;

    const image =
        document.getElementById(
            "lightboxImg"
        );

    if (image) {

        image.style.transform =
            "translate3d(0, 0, 0) scale(1)";

        image.style.transformOrigin =
            "center center";

    }

}


/* =========================================================
   APPLY MOBILE ZOOM
========================================================= */

function applyLightboxZoom() {

    const image =
        document.getElementById(
            "lightboxImg"
        );

    if (!image)
        return;

    image.style.transform =
        "translate3d(" +
        lightboxTranslateX +
        "px, " +
        lightboxTranslateY +
        "px, 0) scale(" +
        lightboxScale +
        ")";

}


/* =========================================================
   LIMIT ZOOM
========================================================= */

function clampLightboxScale(scale) {

    return Math.min(
        Math.max(scale, 1),
        4
    );

}


/* =========================================================
   DOUBLE TAP ZOOM
========================================================= */

function handleDoubleTap(event) {

    const now =
        Date.now();

    const timeSinceLastTap =
        now - lastTapTime;

    if (timeSinceLastTap < 300) {

        event.preventDefault();

        if (lightboxScale === 1) {

            lightboxScale = 2.5;

        }

        else {

            resetLightboxZoom();

            lastTapTime = 0;

            return;

        }

        applyLightboxZoom();

        lastTapTime = 0;

        return;

    }

    lastTapTime = now;

}


/* =========================================================
   KEYBOARD CONTROLS
========================================================= */

document.addEventListener(
    "keydown",
    function(event) {

        const modal =
            document.getElementById(
                "imageLightbox"
            );

        if (
            !modal ||
            modal.style.display !== "flex"
        )
            return;

        if (
            event.key === "ArrowRight"
        ) {

            event.preventDefault();

            nextImage();

        }

        else if (
            event.key === "ArrowLeft"
        ) {

            event.preventDefault();

            previousImage();

        }

        else if (
            event.key === "Escape"
        ) {

            event.preventDefault();

            closeLightbox();

        }

    }
);


/* =========================================================
   LIGHTBOX BACKGROUND CLICK
========================================================= */

const lightbox =
    document.getElementById(
        "imageLightbox"
    );

if (lightbox) {

    lightbox.addEventListener(
        "click",
        function(event) {

            if (
                event.target === this ||
                event.target.classList.contains(
                    "lightbox-image-area"
                )
            ) {

                closeLightbox();

            }

        }
    );

}


/* =========================================================
   TOUCH CONTROLS
========================================================= */

let touchStartX = 0;
let touchStartY = 0;

let touchEndX = 0;
let touchEndY = 0;

let touchStartTime = 0;

const lightboxImageArea =
    document.getElementById(
        "lightboxImageArea"
    );

const lightboxImg =
    document.getElementById(
        "lightboxImg"
    );


/* =========================================================
   PINCH DISTANCE
========================================================= */

function getTouchDistance(touches) {

    const dx =
        touches[0].clientX -
        touches[1].clientX;

    const dy =
        touches[0].clientY -
        touches[1].clientY;

    return Math.sqrt(
        dx * dx +
        dy * dy
    );

}


/* =========================================================
   TOUCH START
========================================================= */

if (lightboxImageArea) {

    lightboxImageArea.addEventListener(
        "touchstart",
        function(event) {

            if (!event.touches.length)
                return;


            /* ---------------------------------------------
               TWO FINGER PINCH
            --------------------------------------------- */

            if (
                event.touches.length === 2
            ) {

                event.preventDefault();

                pinchStartDistance =
                    getTouchDistance(
                        event.touches
                    );

                pinchStartScale =
                    lightboxScale;

                isDraggingZoomedImage =
                    false;

                return;

            }


            /* ---------------------------------------------
               SINGLE FINGER
            --------------------------------------------- */

            if (
                event.touches.length === 1
            ) {

                touchStartX =
                    event.touches[0].clientX;

                touchStartY =
                    event.touches[0].clientY;

                touchStartTime =
                    Date.now();


                /* -----------------------------------------
                   DRAG ZOOMED IMAGE
                ----------------------------------------- */

                if (
                    lightboxScale > 1
                ) {

                    isDraggingZoomedImage =
                        true;

                    dragStartX =
                        event.touches[0].clientX;

                    dragStartY =
                        event.touches[0].clientY;

                    dragStartTranslateX =
                        lightboxTranslateX;

                    dragStartTranslateY =
                        lightboxTranslateY;

                }

            }

        },
        {
            passive: false
        }
    );


    /* =====================================================
       TOUCH MOVE
    ===================================================== */

    lightboxImageArea.addEventListener(
        "touchmove",
        function(event) {


            /* ---------------------------------------------
               PINCH ZOOM
            --------------------------------------------- */

            if (
                event.touches.length === 2
            ) {

                event.preventDefault();

                if (
                    !pinchStartDistance
                )
                    return;

                const currentDistance =
                    getTouchDistance(
                        event.touches
                    );

                const scaleRatio =
                    currentDistance /
                    pinchStartDistance;

                lightboxScale =
                    clampLightboxScale(
                        pinchStartScale *
                        scaleRatio
                    );

                applyLightboxZoom();

                return;

            }


            /* ---------------------------------------------
               DRAG WHILE ZOOMED
            --------------------------------------------- */

            if (
                event.touches.length === 1 &&
                lightboxScale > 1 &&
                isDraggingZoomedImage
            ) {

                event.preventDefault();

                const currentX =
                    event.touches[0].clientX;

                const currentY =
                    event.touches[0].clientY;

                lightboxTranslateX =
                    dragStartTranslateX +
                    (
                        currentX -
                        dragStartX
                    );

                lightboxTranslateY =
                    dragStartTranslateY +
                    (
                        currentY -
                        dragStartY
                    );

                applyLightboxZoom();

            }

        },
        {
            passive: false
        }
    );


    /* =====================================================
       TOUCH END
    ===================================================== */

    lightboxImageArea.addEventListener(
        "touchend",
        function(event) {

            /* ---------------------------------------------
               PINCH FINISHED
            --------------------------------------------- */

            if (
                event.touches.length === 0
            ) {

                pinchStartDistance = 0;

            }


            if (
                !event.changedTouches.length
            )
                return;


            touchEndX =
                event.changedTouches[0].clientX;

            touchEndY =
                event.changedTouches[0].clientY;


            /* ---------------------------------------------
               IF IMAGE IS ZOOMED, DO NOT SWIPE
            --------------------------------------------- */

            if (
                lightboxScale > 1
            ) {

                isDraggingZoomedImage =
                    false;

                return;

            }


            /* ---------------------------------------------
               DOUBLE TAP
            --------------------------------------------- */

            handleDoubleTap(event);


            /* ---------------------------------------------
               SWIPE
            --------------------------------------------- */

            const distanceX =
                touchEndX -
                touchStartX;

            const distanceY =
                touchEndY -
                touchStartY;

            const elapsed =
                Date.now() -
                touchStartTime;


            if (
                elapsed > 500
            )
                return;


            if (
                Math.abs(distanceX) <
                Math.abs(distanceY)
            )
                return;


            if (
                Math.abs(distanceX) < 50
            )
                return;


            if (distanceX < 0) {

                nextImage();

            }

            else {

                previousImage();

            }

        },
        {
            passive: false
        }
    );


    /* =====================================================
       DOUBLE TAP ALSO ON IMAGE
    ===================================================== */

    if (lightboxImg) {

        lightboxImg.addEventListener(
            "touchend",
            function(event) {

                if (
                    event.touches.length > 0
                )
                    return;

            },
            {
                passive: true
            }
        );

    }

}

</script>
